<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <a ui-sref="app.dashboard" class="navbar-brand text-lt">
        <img src="img/logo.png" alt="." style="display: inline">
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <button class="pull-right visible-xs" ui-toggle-class="show" data-target=".navbar-collapse" ui-scroll="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- link and dropdown -->
    <ul class="nav navbar-nav">
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-th-large icon text-info-lter"></i>
                <span style="font-size: 12px">Master</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">

                            <div class="col-xs-3">
                                <div class="m-l-xs m-t-xs m-b-xs font-bold">Master</div>
                                <ul class="list-unstyled l-h-2x">

                                    <li ng-show="user.akses.master_karyawan">
                                        <a ui-sref="master.karyawan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan</a>
                                    </li>
                                    <li ng-show="user.akses.master_filelegalitas">
                                        <a ui-sref="master.filelegalitas"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>File Legalitas</a>
                                    </li>
                                    <li ng-show="user.akses.master_barangatk">
                                        <a ui-sref="master.barangatk"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Barang ATK</a>
                                    </li>
                                    <li ng-show="user.akses.master_kalender">
                                        <a ui-sref="master.kalender"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kalender</a>
                                    </li>
                                    <!--                                                                        <li ng-show="user.akses.master_supplier">
                                                                                                                <a ui-sref="master.supplier"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Supplier</a>
                                                                                                            </li>-->
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <ul class="list-unstyled l-h-2x">

                                    <li ng-show="user.akses.master_lokasi">
                                        <a ui-sref="master.lokasi"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lokasi Kantor</a>
                                    </li>
                                    <li ng-show="user.akses.master_jamsostek">
                                        <a ui-sref="master.jamsostek"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jamsostek</a>
                                    </li>

                                    <li ng-show="user.akses.master_apd">
                                        <a ui-sref="master.apd"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Alat Pelindung Diri</a>
                                    </li>
                                    <li ng-show="user.akses.master_potongan">
                                        <a ui-sref="master.potongan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Potongan</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.master_jabatan">
                                        <a ui-sref="master.jabatan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jabatan</a>
                                    </li>
                                    <li ng-show="user.akses.master_section">
                                        <a ui-sref="master.section"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Section</a>
                                    </li>
                                    <li ng-show="user.akses.master_subsection">
                                        <a ui-sref="master.subsection"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Sub Section</a>
                                    </li>
                                    <li ng-show="user.akses.master_umk">
                                        <a ui-sref="master.umk"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>UMK</a>
                                    </li>
                                    <li ng-show="user.akses.master_departement">
                                        <a ui-sref="master.departement"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Departement</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-3">
                                <div class="m-l-xs m-t-xs m-b-xs font-bold">Pengguna</div>
                                <ul class="list-unstyled l-h-2x">

                                    <li ng-show="user.akses.master_roles">
                                        <a ui-sref="master.roles"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Hak Akses</a>
                                    </li>
                                    <li ng-show="user.akses.master_user">
                                        <a ui-sref="master.user"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>User</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-list-alt icon text-info-lter"></i> 
                <span style="font-size: 12px">Pegawai & Transaksi</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">Pegawai</div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled l-h-4">
                                    <li ng-show="user.akses.pegawaii_karyawanmasuk">
                                        <a ui-sref="pegawai.karyawanmasuk"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_karyawankeluar">
                                        <a ui-sref="pegawai.karyawankeluar"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Keluar</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_ijazah">
                                        <a ui-sref="pegawai.ijazah"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Ijazah</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_lamarankerja">
                                        <a ui-sref="pegawai.lamarankerja"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lamaran Kerja</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_pendaftaranjamsostek">
                                        <a ui-sref="pegawai.pendaftaranjamsostek"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pendaftaran Jamsostek</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <ul class="list-unstyled l-h-4">
                                    <li ng-show="user.akses.pegawai_penilaiankontrak">
                                        <a ui-sref="pegawai.penilaiankontrak"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Penilaian Karyawan Kontrak</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_magang">
                                        <a ui-sref="pegawai.magang"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Data Magang</a>
                                    </li>
                                    <li ng-show="user.akses.pegawai_prakerin">
                                        <a ui-sref="pegawai.prakerin"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Prakerin</a>
                                    </li>
                                    <!--                                                                        <li ng-show="user.akses.pegawai_lamarankerja">
                                                                                                                <a ui-sref="pegawai.lamarankerja"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lamaran Kerja</a>
                                                                                                            </li>
                                                                                                            <li ng-show="user.akses.pegawai_pendaftaranjamsostek">
                                                                                                                <a ui-sref="pegawai.pendaftaranjamsostek"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pendaftaran Jamsostek</a>
                                                                                                            </li>-->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9 b-l b-light">
                        <div class="m-l-xs m-t-xs m-b-xs font-bold">Transaksi</div>
                        <div class="row">
                            <div class="col-xs-4">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_agendapelatihan">
                                        <a ui-sref="transaksi.agendapelatihan"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Agenda Pelatihan</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_agendaumum">
                                        <a ui-sref="transaksi.agendaumum"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Agenda Umum</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_karyawanspd">
                                        <a ui-sref='transaksi.karyawanspd'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan SPD</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_karyawankeluar">
                                        <a ui-sref='transaksi.karyawankeluar'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Keluar</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_lamarankerja">
                                        <a ui-sref="transaksi.lamarankerja"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lamaran Kerja</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_atkmasuk">
                                        <a ui-sref='transaksi.atkmasuk'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>ATK Masuk</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_atkkeluar">
                                        <a ui-sref='transaksi.atkkeluar'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>ATK Keluar</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_p2k3">
                                        <a ui-sref='transaksi.p2k3'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>TIM P2K3</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-4">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_kecelakaankerja">
                                        <a ui-sref='transaksi.kecelakaankerja'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kecelakaan Kerja</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_pengeluaranapd">
                                        <a ui-sref="transaksi.pengeluaranapd"><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pengeluaran APD</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_pemasukanapd">
                                        <a ui-sref='transaksi.pemasukanapd'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pemasukan APD</a>
                                    </li>
                                    <li ng-show="user.akses.transaksi_pemakaianlistrikair">
                                        <a ui-sref='transaksi.pemakaianlistrikair'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pemakaian Listrik Air Telp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="margin: 10px 0 0px 0;"/>
                <div class="row">
                    <div class="col-sm-7 b-l b-light">

                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-calendar icon text-info-lter"></i> 
                <span style="font-size: 12px">Jadwal & Monitoring</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.transaksi_jpelatihan">
                                        <a ui-sref='jadwal.jpelatihan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jadwal Pelatihan</a>
                                    </li>
                                    <li ng-show="user.akses.jadwal_penilaian">
                                        <a ui-sref='jadwal.penilaian'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jadwal Penilaian</a>
                                    </li>
                                    <li ng-show="user.akses.jadwal_auditsemester">
                                        <a ui-sref='jadwal.auditsemester'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Audit Semester</a>
                                    </li>
                                    <li ng-show="user.akses.jadwal_hsetalk">
                                        <a ui-sref='jadwal.hsetalk'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>HSE TALK</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown pos-stc" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="glyphicon glyphicon-print icon text-info-lter"></i> 
                <span style="font-size: 12px">Rekap</span> 
                <span class="caret"></span>
            </a>
            <div class="dropdown-menu wrapper w-full bg-white">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="m-l-xs m-t-xs m-b-xs font-bold">Rekap</div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.rekap_penilaiankontrak">
                                        <a ui-sref='rekap.penilaiankontrak'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Penilaian Kontrak</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_ijazahmasuk">
                                        <a ui-sref='rekap.ijazahmasuk'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Ijazah Masuk</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_ijazahkeluar">
                                        <a ui-sref='rekap.ijazahkeluar'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Ijazah Keluar</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_lamarkerjaperpribadi">
                                        <a ui-sref='rekap.lamarkerjaperpribadi'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lamaran Kerja per Data Pribadi</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_lamarkerjaperpend">
                                        <a ui-sref='rekap.lamarkerjaperpend'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Lamaran Kerja per Pendidikan</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_jamsostek">
                                        <a ui-sref='rekap.jamsostek'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jamsostek</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.rekap_karyawankeluar">
                                        <a ui-sref='rekap.karyawankeluar'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Keluar</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_karyawanmasukpertunjangan">
                                        <a ui-sref='rekap.karyawanmasukpertunjangan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk Per Tunjangan</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_karyawanmasukpergaji">
                                        <a ui-sref='rekap.karyawanmasukpergaji'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk Per Gaji</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_karyawanmasukperdata">
                                        <a ui-sref='rekap.karyawanmasukperdata'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk Per Data Pribadi</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_karyawanmasukperpend">
                                        <a ui-sref='rekap.karyawanmasukperpend'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk Per Pendidikan</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_karyawanmasukperpekerjaan">
                                        <a ui-sref='rekap.karyawanmasukperpekerjaan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Karyawan Masuk Per Pekerjaan</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 b-l b-light">
                        <div class="row">
                            <div class="m-l-xs m-t-xs m-b-xs font-bold">Laporan</div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <li ng-show="user.akses.rekap_kecelakaankerja">
                                        <a ui-sref='rekap.kecelakaankerja'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Kecelakaan Kerja</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_laporanapd">
                                        <a ui-sref='rekap.laporanapd'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pengeluaran APD</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_pemasukanapd">
                                        <a ui-sref='rekap.pemasukanapd'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pemasukan APD</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_laporanstokapd">
                                        <a ui-sref='rekap.laporanstokapd'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>StokAPD</a>
                                    </li>
                                    <li ng-show="user.akses.rekap_pemakianlat">
                                        <a ui-sref='rekap.pemakianlat'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Pemakaian Listrik, Air Telp</a>
                                    </li>

                                </ul>
                            </div>
                            <div class="col-xs-6">
                                <ul class="list-unstyled l-h-2x">
                                    <ul class="list-unstyled l-h-2x">
                                        <li ng-show="user.akses.rekap_jadwalpelatihan">
                                            <a ui-sref='rekap.jadwalpelatihan'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jadwal Pelatihan</a>
                                        </li>
                                        <li ng-show="user.akses.rekap_jadwalauditsemester">
                                            <a ui-sref='rekap.jadwalauditsemester'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jadwal Audit Semester</a>
                                        </li>
                                        <li ng-show="user.akses.rekap_jadwalapenilaian">
                                            <a ui-sref='rekap.jadwalapenilaian'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>jadwal Penilaian</a>
                                        </li>
                                        <li ng-show="user.akses.rekap_jadwalhsetalk">
                                            <a ui-sref='rekap.jadwalhsetalk'><i class="fa fa-fw fa-angle-right text-muted m-r-xs"></i>Jadwal HSE Talk</a>
                                        </li>

                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <!-- / link and dropdown -->

    <!-- search form -->
    <form class="navbar-form navbar-form-sm navbar-left shift hidden-sm" id="pencarian">
        <div class="form-group">
            <div class="input-group">
                <ui-select on-select="pencarianDet($item)" ng-model="cari">
                    <ui-select-match placeholder="Pencarian BOM...">{{$select.selected.nama}}</ui-select-match>
                    <ui-select-choices refresh="pencarian($select.search)" repeat="val in results">
                        {{val.kd_bom}}
                    </ui-select-choices>
                </ui-select>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-sm bg-light rounded"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>
    </form>
    <!-- / search form -->

    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a ui-fullscreen></a>
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle" dropdown-toggle>
                <i class="fa fa-bell"></i>
                <span class="visible-xs-inline">Notifications</span>
                <!--<span class="badge badge-sm up bg-danger pull-right-xs">2</span>-->
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li ng-show="user.akses.notif_bom">
                    <a ui-sref='notif.bom'>BOM</a>
                </li>
                <li ng-show="user.akses.notif_chassismasuk">
                    <a ui-sref='notif.chassismasuk'>Chassis Masuk</a>
                </li>
                <li ng-show="user.akses.notif_wo">
                    <a ui-sref='notif.wo'>Work Order</a>
                </li>
                <li ng-show="user.akses.notif_wip">
                    <a ui-sref='notif.wip'>Work In Progress</a>
                </li>
                <li ng-show="user.akses.notif_barang">
                    <a ui-sref='notif.barang'>Notifikasi Barang</a>
                </li>
                <li ng-show="user.akses.notif_unit">
                    <a ui-sref='notif.unit'>Notifikasi Unit</a>
                </li>
                <li ng-show="user.akses.notif_abk">
                    <a ui-sref='notif.abk'>Autentikasi Barang Keluar</a>
                </li>
                <li ng-show="user.akses.notif_monitoring">
                    <a ui-sref='notif.monitoring'>Monitoring</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
        <li class="dropdown" dropdown>
            <a href class="dropdown-toggle clear" dropdown-toggle>
                <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <img src="img/a0.jpg" alt="...">
                    <i class="on md b-white bottom"></i>
                </span>
                <span class="hidden-sm hidden-md" style="font-size: 12px">{{user.nama}}</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="master.userprofile">Update Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ng-click="logout()">Logout</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
