<div ng-app="app" ng-controller="monitoringLegalitasCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Data Rekap - Monitoring File Legalitas</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">.:: Monitoring File Legalitas
                <div class="btn-group pull-right" role="group" style="margin-top: -4px; margin-right: 18px;">
                    <br>    
                </div> 
            </div>
            <div class="panel-body">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3">Periode</label>
                                        <div class="col-md-9">
                                            <input placeholder="Tanggal Periode" date-range-picker class="form-control" type="text"  ng-model="form.tanggal">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Atas Nama</label>
                                        <div class="col-md-9">
                                            <input placeholder="Atas Nama" class="form-control" type="text"  ng-model="form.atas_nama">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3">Jenis Legalitas</label>
                                        <div class="col-md-9">
                                            <div class="btn-group" ng-init="form.jns_legalitas = {Umum : false,Alat : false, Akta : false,Ketenagakerjaan : false,K3:false}">
                                                <label class="btn btn-sm btn-default" ng-model="form.jns_legalitas.Umum" btn-checkbox>Umum</label>
                                                <label class="btn btn-sm btn-default" ng-model="form.jns_legalitas.Alat" btn-checkbox>Alat</label>
                                                <label class="btn btn-sm btn-default" ng-model="form.jns_legalitas.Akta" btn-checkbox>Akta</label>
                                                <label class="btn btn-sm btn-default" ng-model="form.jns_legalitas.Ketenagakerjaan" btn-checkbox>Ketenagakerjaan</label>
                                                <label class="btn btn-sm btn-default" ng-model="form.jns_legalitas.K3" btn-checkbox>Ketenagakerjaan</label>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-9" style="text-align: left;">
                                            <table>
                                                <tr>
                                                    <td><input type="button" class="btn btn-primary" value="Rekap" ng-click="view(form)"></td>
                                                    <td
                                                        <div class="pull-left dropdown" style="margin-top: 0px" dropdown="">
                                                            <button type="button" class="btn btn-info" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Laporan<span class="caret"></span></button>
                                                            <ul class="dropdown-menu" style="background-color: #F7F7F7; width: 269px;">
                                                                <li><a href="#" ng-click="print(form)">Cetak</a></li>
                                                                <li><a href="#" ng-click="excel(form)">Export Excel</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-hide="paginations == 0" ng-if="show_detail">
                <table  st-safe-src="listSrc" st-table="list" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style="text-align: center;vertical-align: center;">NO</th>
                            <th style="text-align: center;vertical-align: center;">MASA BERLAKU</th>
                            <th style="text-align: center;vertical-align: center;">NO LEGALITAS</th>
                            <th style="text-align: center;vertical-align: center;">LEGALITAS</th>
                            <th style="text-align: center;vertical-align: center;">INSTANSI</th>
                            <th style="text-align: center;vertical-align: center;">ATAS NAMA</th>
                            <th style="text-align: center;vertical-align: center;">JENIS LEGALITAS</th>
                            <th style="text-align: center;vertical-align: center;">TANGGAL PENGESAHAN</th>
                            <th style="text-align: center;vertical-align: center;">KETERANGAN</th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in list">
                            <td style="text-align: center">{{$index + 1}}</td>
                            <td align="center">{{row.masa_berlaku}}</td>
                            <td align="center">{{row.no_file}}</td>
                            <td align="center">{{row.nm_file}}</td>
                            <td align="center">{{row.instansi}}</td>
                            <td align="center">{{row.atas_nm}}</td>
                            <td align="center">{{row.jns_legalitas}}</td>
                            <td align="center">{{row.tgl_pengesahan}}</td>
                            <td align="center">{{row.ket}}</td>
                        </tr>
                        <tr>
                            <td class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html" colspan="13"></td>
                        </tr>
                    </tbody>
                </table>			
            </div>
        </div>
    </div>
    <!--FORM-->
</div>
