<div ng-app="app" ng-controller="absensipenggajianproduksiCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Rekap Gaji</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">.:: Rekap Gaji
                <div class="btn-group pull-right" role="group" style="margin-top: -4px; margin-right: 18px;">
                    <br>    
                </div> 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation" method="get">

                    <div class="panel-heading">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="control-group">
                                            <label class="col-sm-3 control-label">Pilih Bulan<span class="required"></span></label>
                                            <div class="col-sm-4">
                                                <select stInputEvent="change" ng-model="form.bulan" class="form-control" >
                                                    <option ng-repeat="lb in listbln" ng-selected="{{lb.key == form.bulan}}" value="{{lb.key}}">{{lb.value}}</option>
                                                </select>
                                            </div>
                                            <div style="float: left;padding: 7px;">s/d</div>
                                            <div class="col-sm-4">
                                                <select stInputEvent="change" ng-model="form.tahun" class="form-control">
                                                    <option ng-repeat="listahun in listth" ng-selected="{{listahun == form.tahun}}" value="{{listahun}}">{{listahun}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">NIK/ Nama</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="form.niknama">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Department<span class="required"></span></label>
                                        <div class="col-sm-9">
                                            <div class="input-group">
                                                <ui-select ng-model="form.Department" theme="bootstrap">
                                                    <ui-select-match>{{$select.selected.id_department}} - {{$select.selected.department}}</ui-select-match>
                                                    <ui-select-choices refresh="cariDepartment($select.search)" repeat="val in listDepartment">
                                                        {{val.id_department}} - {{val.department}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button ng-click="form.Department = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Lokasi Kantor</label>
                                        <div class="col-sm-9">
                                            <select class="form-control" ng-model="form.lokasi_kntr">
                                                <option ng-repeat="lokasi in listLokasi" value="{{lokasi.lokasi_kantor}}">{{lokasi.lokasi_kantor}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-9" style="text-align: left;">
                                            <table>
                                                <tr>
                                                    <td><input type="submit" class="btn btn-primary" value="Rekap" ng-click="view(form)" ng-disabled="landaform.$invalid"></td>
                                                    <td>
                                                        <div class="pull-left dropdown" style="margin-top: 0px" dropdown="" ng-show="show_detail">
                                                            <button type="button" class="btn btn-info" dropdown-toggle="" aria-haspopup="true" aria-expanded="true">Action<span class="caret"></span></button>
                                                            <ul class="dropdown-menu" style="background-color: #F7F7F7; width: 269px;">
                                                                <li><a href="#" ng-click="print(form)">Print</a></li>
                                                                <li><a href="#" ng-click="excel(form)">Export Excel</a></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="panel panel-info" style="overflow-x: scroll" ng-hide="paginations == 0" ng-if="show_detail">
            <div class="panel-heading no-border bg-primary text-center">          
                LAPORAN GAJI KARYAWAN PRODUKSI
                <br/> TANGGAL : {{mulai_tanggal| date}} - {{tanggal_sampai| date}}
            </div>
            <table  st-safe-src="listSrc" st-table="list" class="table table-striped">
                <thead>
                    <tr>
                        <th rowspan="2" style="text-align: center;vertical-align: middle;width: 30px">NO</th>
                        <th style="text-align: center;vertical-align: middle;">Nama</th>
                        <th  style="text-align: center;vertical-align: middle;">THP</th>
                        <th colspan="7" style="text-align: center;vertical-align: middle;">KOMPENSASI</th>
                        <th colspan="6" style="text-align: center;vertical-align: middle;">POTONGAN</th>
                        <th rowspan="2" style="text-align: center;vertical-align: middle;">PENERIMAAN NETTO</th>
                    </tr>
                    <tr>
                        <th style="text-align: center;vertical-align: middle;">KARYAWAN</th>
                        <th style="text-align: center;vertical-align: middle;">{{tahun}}</th>
                        <th style="text-align: center;vertical-align: middle;">GP</th>
                        <th style="text-align: center;vertical-align: middle;">T.JABATAN</th>
                        <th style="text-align: center;vertical-align: middle;">MGM</th>
                        <th colspan="3" style="text-align: center;vertical-align: middle;">INCENTIVE KEHADIRAN</th>
                        <th style="text-align: center;vertical-align: middle;">JUMLAH</th>
                        <th style="text-align: center;vertical-align: middle;">KTNGKRJNN 3%</th>
                        <th style="text-align: center;vertical-align: middle;">KESEHATAN (1%)</th>
                        <th style="text-align: center;vertical-align: middle;">PINJAMAN</th>
                        <th colspan="2" style="text-align: center;vertical-align: middle;">ABSEN</th>
                        <th style="text-align: center;vertical-align: middle;">JUMLAH</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in list">
                        <td style="text-align: center">{{row.no}}</td>
                        <td style="text-align: left">{{row.nama}}</td>
                        <td style="text-align: right">{{row.thp| currency:"":0}}</td>
                        <td style="text-align: right">{{row.gaji_pokok| currency:"":0}}</td>
                        <td style="text-align: right">{{row.t_fungsional| currency:"":0}}</td>
                        <td style="text-align: right">{{row.mgm| currency:"":0}}</td>
                        <td style="text-align: right">{{row.incentive| currency:"":0}}</td>
                        <td style="text-align: right">{{row.jml_inc| currency:"":0}}</td>
                        <td style="text-align: right">{{row.ttl_incentive| currency:"":0}}</td>
                        <td style="text-align: right">{{row.jumlah_kopensasi| currency:"":0}}</td>
                        <td style="text-align: right">{{row.ketenagakerjaan| currency:"":0}}</td>
                        <td style="text-align: right">{{row.kesehatan| currency:"":0}}</td>
                        <td style="text-align: right">{{row.pinjaman| currency:"":0}}</td>
                        <td style="text-align: right">{{row.jml_absen}}</td>
                        <td style="text-align: right">{{row.absen| currency:"":0}}</td>
                        <td style="text-align: right">{{row.jml_potongan| currency:"":0}}</td>
                        <td style="text-align: right">{{row.netto| currency:"":0}}</td>
                    </tr>
                    <tr>
                        <td colspan="17" class="text-center" st-pagination="" st-items-by-page="25" st-template="tpl/blocks/pagination.custom.html"></td>
                    </tr>
                </tbody>
            </table>			
        </div>
    </div>
</div>
<!--FORM-->
</div>
