<div ng-app="app" ng-controller="absensiharianCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Cek Absensi Harian</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">.:: Cek Absent Hari Ini
                <div class="btn-group pull-right" role="group" style="margin-top: -4px; margin-right: 18px;">
                    <br>    
                </div> 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation" method="get">

                    <div class="panel-heading">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label required">Tanggal</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" is-open="opened" ng-click="opened = true" required/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-9">
                                            <div class="btn-group">
                                                <label class="btn btn-default" ng-model="form.status" btn-radio="'hadir'">Hadir</label>
                                                <label class="btn btn-default" ng-model="form.status" btn-radio="'tidakhadir'">Tidak Hadir</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">NIK/ Nama</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" ng-model="form.niknama">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Lokasi Kantor</label>
                                        <div class="col-md-9">
                                            <select class="form-control" ng-model="form.lokasi_kntr" ng-disabled="is_view" >
                                                <option value="SUKOREJO">Sukorejo</option>
                                                <option value="SURABAYA">Surabaya</option>
                                                <option value="JAKARTA">Jakarta</option>
                                                <option value="MEDAN">Medan</option>
                                                <option value="BANDUNG">Bandung</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3"></label>
                                        <div class="col-md-9" style="text-align: left;">
                                            <table>
                                                <tr>
                                                    <td><input type="submit" class="btn btn-primary" value="Rekap" ng-click="view(form)" ng-disabled="landaform.$invalid"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <div class="panel panel-info" ng-hide="paginations == 0" ng-if="show_detail">
            <div class="panel-heading no-border bg-primary text-center">          
                LAPORAN {{show_form.labelstatus}}
                <br/> TANGGAL : {{show_form.tanggal| date}}
                <br/> JUMLAH : {{show_form.total}}
            </div>
            <table  st-safe-src="listSrc" st-table="list" class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center;vertical-align: center;width: 100px">NIK</th>
                        <th style="text-align: center;vertical-align: center;">Nama</th>
                        <th style="text-align: center;vertical-align: center;" ng-show="show_form.status == 'hadir'">Masuk</th>
                        <th style="text-align: center;vertical-align: center;" ng-show="show_form.status == 'hadir'">Pulang</th>
                    </tr>
                </thead>
                <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in list">
                        <td style="text-align: center">{{row.nik}}</td>
                        <td style="text-align: left">{{row.nama}}</td>
                        <td style="text-align: center" ng-show="show_form.status == 'hadir'">{{row.masuk| asDate | date:"shortTime"}}</td>
                        <td style="text-align: center" ng-show="show_form.status == 'hadir'">{{row.keluar| asDate | date:"shortTime"}}</td>
                    </tr>
                    <tr>
                        <td class="text-center" st-pagination="" st-items-by-page="25" st-template="tpl/blocks/pagination.custom.html" colspan="6"></td>
                    </tr>
                </tbody>
            </table>			
        </div>
    </div>
</div>
<!--FORM-->
</div>
